/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #444;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center; 
    padding: 2em;
    position: relative;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: auto; /* Center the picture horizontally */
    display: block; /* Adjust the display property */
}

.project-card {
    background-color: #222;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 1.5em;
    margin: 1em;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h2 {
    color: #fff;
}

.project-card p {
    color: #ddd;
}

.project-card a {
    display: block;
    margin-top: 1em;
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease-in-out;
}

.project-card a:hover {
    color: #2980b9;
}

header h1,
header p {
    animation: fadeInUp 1s ease-in-out;
}

.project-card {
    animation: fadeIn 1s ease-in-out;
}

.profile-picture {
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
